/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 25, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 27, ../sass/screen.scss */
.fixed {
  position: absolute;
}

/* line 28, ../sass/screen.scss */
.fr {
  float: right;
}

/* line 29, ../sass/screen.scss */
.fl {
  float: left;
}

/* line 30, ../sass/screen.scss */
.inline {
  display: inline-block;
}

/* line 31, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 33, ../sass/screen.scss */
body {
  font-size: 14px;
  font-family: sans-serif;
  background: url("../iphone5.png") no-repeat 49.65% 80px #313131;
}

/* line 39, ../sass/screen.scss */
h2 {
  font-size: 1.7em;
  padding: 5px;
  margin: 5px;
}

/* line 45, ../sass/screen.scss */
h3 {
  font-size: 1.3em;
  margin: 5px;
  padding: 5px;
}

/* line 51, ../sass/screen.scss */
a {
  color: #0277ED;
}
/* line 53, ../sass/screen.scss */
a:visited {
  color: #0277ED;
}

/* line 56, ../sass/screen.scss */
#map-canvas {
  height: 100%;
}

/* line 60, ../sass/screen.scss */
p {
  line-height: 1.5em;
  text-indent: .6em;
}

/* line 65, ../sass/screen.scss */
.wrap {
  display: block;
  width: 2.31in;
  height: 4.17in;
  margin: 160px auto;
  border: 1px solid #ddd;
  position: relative;
}

/* line 74, ../sass/screen.scss */
input[type='text'] {
  width: 97%;
  margin: 5px auto;
  height: 30px;
  display: block;
  border: none;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0px 1px 2px #cccccc, 0px 1px 1px #f9f9f9;
  -moz-box-shadow: inset 0px 1px 2px #cccccc, 0px 1px 1px #f9f9f9;
  box-shadow: inset 0px 1px 2px #cccccc, 0px 1px 1px #f9f9f9;
  padding: 3px 5px;
  line-height: 26px;
  font-size: 1.1em;
  color: #454545;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}
/* line 90, ../sass/screen.scss */
input[type='text']:focus {
  -webkit-box-shadow: inset 0px 1px 2px #bbbbbb, 0px 1px 1px #f9f9f9;
  -moz-box-shadow: inset 0px 1px 2px #bbbbbb, 0px 1px 1px #f9f9f9;
  box-shadow: inset 0px 1px 2px #bbbbbb, 0px 1px 1px #f9f9f9;
}
/* line 11, ../sass/screen.scss */
input[type='text']:first-of-type::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #a5d5ff;
}
/* line 14, ../sass/screen.scss */
input[type='text']:first-of-type:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #a5d5ff;
}
/* line 17, ../sass/screen.scss */
input[type='text']:first-of-type::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a5d5ff;
}
/* line 20, ../sass/screen.scss */
input[type='text']:first-of-type:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #a5d5ff;
}

/* line 99, ../sass/screen.scss */
.bar {
  z-index: 1000;
  width: 100%;
  background: #fff;
  background: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0px 1px 3px #bbbbbb;
  -moz-box-shadow: 0px 1px 3px #bbbbbb;
  box-shadow: 0px 1px 3px #bbbbbb;
}
/* line 106, ../sass/screen.scss */
.bar:last-of-type {
  -webkit-box-shadow: 0px -1px 3px #bbbbbb;
  -moz-box-shadow: 0px -1px 3px #bbbbbb;
  box-shadow: 0px -1px 3px #bbbbbb;
  bottom: 0;
}
/* line 111, ../sass/screen.scss */
.bar nav ul {
  width: 100%;
  height: 40px;
  font-family: 'icons';
  font-size: 1.3em;
}
/* line 117, ../sass/screen.scss */
.bar nav ul li {
  display: inline-block;
  height: 100%;
  font-family: 'icons';
  width: 33.3%;
  margin: 0 -2px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-right: 1px solid #ccc;
}
/* line 128, ../sass/screen.scss */
.bar nav ul li:active {
  -webkit-box-shadow: inset 0px 0px 9px #cccccc;
  -moz-box-shadow: inset 0px 0px 9px #cccccc;
  box-shadow: inset 0px 0px 9px #cccccc;
}

/* line 137, ../sass/screen.scss */
section {
  margin: 5px 10px;
}

/* line 141, ../sass/screen.scss */
button {
  padding: 5px;
  margin: 3px 5px;
}

/* line 146, ../sass/screen.scss */
label {
  cursor: pointer;
  padding: 5px;
}

/* line 148, ../sass/screen.scss */
[data-info] {
  position: relative;
}
/* line 151, ../sass/screen.scss */
[data-info]:hover::before, [data-info]:hover::after {
  display: block;
}
/* line 153, ../sass/screen.scss */
[data-info]:after {
  font-family: sans-serif;
  position: absolute;
  content: attr(data-info);
  display: none;
  bottom: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: .85rem;
  line-height: 1rem;
  background: #000;
  background: rgba(0, 0, 0, 0.85);
  color: #f9f9f9;
  padding: 5px;
  border: 1px solid #f9f9f9;
  left: 3px;
}
/* line 170, ../sass/screen.scss */
[data-info]:before {
  position: absolute;
  content: "";
  display: none;
  width: 0;
  left: 20%;
  top: -1px;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.85);
  z-index: 111;
}

/* line 184, ../sass/screen.scss */
.switch {
  position: relative;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: inset 0px 1px 2px #cccccc;
  -moz-box-shadow: inset 0px 1px 2px #cccccc;
  box-shadow: inset 0px 1px 2px #cccccc;
  font-size: 1.4em;
  border: none;
  outline: none;
  background: #fff;
  padding: 0;
}
/* line 196, ../sass/screen.scss */
.switch:hover {
  -webkit-box-shadow: inset 0px 1px 2px #dddddd, 0px 0px 4px #64b3fc;
  -moz-box-shadow: inset 0px 1px 2px #dddddd, 0px 0px 4px #64b3fc;
  box-shadow: inset 0px 1px 2px #dddddd, 0px 0px 4px #64b3fc;
}
/* line 200, ../sass/screen.scss */
.switch .mask {
  pointer-events: none;
  position: absolute;
  left: 4px;
  top: 50%;
  height: 25px;
  width: 42.3%;
  margin-top: -12.5px;
  background: #000;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 0px 1px white, 0px 1px 1px #aaaaaa;
  -moz-box-shadow: inset 0px 0px 1px white, 0px 1px 1px #aaaaaa;
  box-shadow: inset 0px 0px 1px white, 0px 1px 1px #aaaaaa;
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, #f1f1f1), color-stop(51%, #e1e1e1), color-stop(100%, #f6f6f6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
  /* IE6-9 */
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 222, ../sass/screen.scss */
.switch .mask:after {
  content: "c";
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  font-family: 'icons';
  color: red;
}

/* line 234, ../sass/screen.scss */
[type='checkbox']:checked ~ .switch .mask {
  left: 52.6%;
}
/* line 237, ../sass/screen.scss */
[type='checkbox']:checked ~ .switch .mask:after {
  content: "b";
  color: green;
}

/* line 243, ../sass/screen.scss */
.pane {
  z-index: 10000;
  width: 100%;
  padding: 10px;
  background: #fff;
  background: rgba(255, 255, 255, 0.94);
  top: 0;
  left: 0;
  max-height: 100%;
  overflow: scroll;
  -webkit-box-shadow: 0px 1px 3px #bbbbbb;
  -moz-box-shadow: 0px 1px 3px #bbbbbb;
  box-shadow: 0px 1px 3px #bbbbbb;
}

/* line 256, ../sass/screen.scss */
div.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

/* line 263, ../sass/screen.scss */
ul.your-routes {
  display: block;
  width: 95%;
  margin: 10px auto;
}
/* line 268, ../sass/screen.scss */
ul.your-routes li {
  display: block;
  border: 1px solid #ddd;
  border-bottom: none;
  padding: 4px 6px;
}
/* line 274, ../sass/screen.scss */
ul.your-routes li:last-child {
  border-bottom: 1px solid #ddd;
}
/* line 278, ../sass/screen.scss */
ul.your-routes li span {
  padding: 0px 5px;
  color: #61A7ED;
  cursor: pointer;
}
/* line 283, ../sass/screen.scss */
ul.your-routes li span:hover {
  color: #A5D5FF;
}
/* line 284, ../sass/screen.scss */
ul.your-routes li span.delete {
  color: red;
}

/* line 289, ../sass/screen.scss */
td {
  width: 50%;
  text-align: center;
  border: 1px solid #ccc;
}

@font-face {
  font-family: 'icons';
  src: url("../icomoon/fonts/iconminia.eot") format("eot"), url("../icomoon/fonts/iconminia.woff") format("woff"), url("../icomoon/fonts/iconminia.ttf") format("truetype");
}
